@import "variables";

.navbar-nav {
	text-transform: uppercase; font-size: 1.2rem; font-weight: bold;
}


@media (max-width: 991px) {
	.navbar-light .navbar-nav {
		margin-bottom: 1rem;
		border-top: 1px solid $color-bg;
		.nav-link {
			border-bottom: 1px solid $color-bg;
		}
	}
}
@media (min-width: 992px) {
	.navbar-expand-lg {
		align-items: flex-end;
		.navbar-nav {
			.active {
				position: relative;
				&:before {
					content:''; width: 0px; height: 0px; border: 10px solid transparent; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%) translateY(100%); border-top-color: #FFF;
				}
			}
		}
	}
}
