$color-primary:     #194e5c;
$color-secondary:   #a87a4f;
$color-gray:        #626262;
$color-light:       #b6b6b6;
$color-bg:          #f1edeb;
$color-border: 		#e8e8e8;
$color-border-dark: #c7c7c7;

$border-radius:  6px;